* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #F7F7F7;
    --color2: #8BB7C9;
    --color3: #A2281D;
    --color4: #52524C;
    --color5: #22221E;
}

body{
    background-color: var(--color1);
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-image {
    background-image: url("./images/ocean-hero.jpg");
    background-size: cover;
    background-position: 80%;
    margin: -10px;
}

.hero-image img {
    height: 260px;
    width: 204px;
    border: 5px solid var(--color3);
    border-radius: 10%;
    margin: 50px;
}

.header {
    margin: -10px;
    background-color: var(--color4);
    color: var(--color5);
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
}

.header h1 {
    font-size: 48px;
}

.header nav {
    font-size: 36px;
    float: right;
}

.header nav a {
    margin: 0px 7px;
    text-decoration: none;
    color: var(--color5);
}

.header nav a:hover {
    color: var(--color2);
}

.section-title {
    margin: 10px;
    font-size: 36px;
}

.section-content {
    margin: 10px;
}

footer {
    background-color: var(--color4);
    font-size: 24px;
    padding: 10px;
    margin: -10px;
    width: 100%;
    left: 7%;
}

.project {
    width: 25%;
    display: flex;
}

.project img {
    width: 100%;
}

